.nav {
    backdrop-filter: blur(15px);
    background:rgba(237, 237, 238, 0.3);
    border-radius: 3rem;
    bottom: 2rem;
    display: flex;
    gap: .8rem;
    left: 50%;
    padding: .7rem 1.7rem;
    position: fixed;
    transform: translateX(-50%);
    width: max-content;
    z-index: 2;
}
.nav .m-nav {
    background: transparent;
    border-radius: 50%;
    color: rgba(17, 17, 25, 0.6);
    font-size: 1.1rem;
    padding: .9rem;
}
.nav, .nav .m-nav {
    display: flex;
}
.m-nav {
    color:  rgba(17, 17, 25, 0.6);
    transition: all .4s ease;
}
.nav .m-nav.active {
    background: rgba(5, 198, 117, 0.6);
    color:#EDEDEE;
}
.nav .m-nav:hover {
    background:rgba(17, 17, 25, 0.6) ;
    color:#EDEDEE;
}

@media screen and (max-width: 600px){
    .nav {
        border-radius: 3rem;
        bottom: 1rem;
    }
}