.project-content {
  padding: 1% 0 1% 0;
  display: flex;
  flex-direction: row;
  height: 35rem;
}
.content-proj {
  display: flex;
  flex-direction: column;

}

.sudsection-header-proj {
  display: inline;
  color: rgba(70, 92, 91, 1);
  padding-bottom: 5%;
}

.sudsection-header-proj::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 50%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid rgba(70, 92, 91, 1);
}

.projects-cards {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.terminal-page {
  display: flex;
  flex-direction: column;
  height: 27rem;
  width: 21rem;
  border-radius: 1rem;
  border: 1px solid rgba(237, 237, 238, 0.4);
}

.options {
  height: 10%;
  display: flex;
  flex-direction: row;
  padding-left:0.7rem 0 0.7rem 2rem;
  border-bottom: 1px solid rgba(237, 237, 238, 0.4);
}

.terminal-cont {
  padding: 0.7rem 2rem;
  height: 88%;
}

.option-menu {
  width: 9rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}

.opt {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.opt div {
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.terminal-page:hover .red-opt {
  background-color: rgba(255, 0, 0, 0.78);
}

.terminal-page:hover .yellow-opt {
  background-color: rgba(255, 255, 0, 0.781);
}

.terminal-page:hover .green-opt {
  background-color: rgba(0, 128, 0, 0.781);
}
.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__item-cta {
  display: flex;
  height: 10%;
  gap: 1rem;
}
.btn-proj {
  border: 1px solid rgba(5, 198, 117, 0.9);
  border-radius: .4rem;
  color: rgba(5, 198, 117, 0.9);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 400ms ease;
  width: max-content;
  padding: 1.15rem 0.5rem;
}
.btn-primary {
  background: rgba(5, 198, 117, 0.9);
}
.btn-primary, .btn-proj:hover {
  color: #1b1b1e;
}
.proj-title{
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.portfolio__item-image{
  height: 60%;
  display: flex;
}
.code-symbol{
  color: var(--code-symbol-color);
  font-size: 12px;
}
.code-text{
  font-size: 10px;
  padding-left: 1rem;
}
@media screen and (max-width: 600px) {
  .content-proj {
    padding-left: 6%;
  }

  .sudsection-header-proj {
    padding: 5% 0;

  }

  .terminal-page {
    height: 25rem;
    width: 18rem;
  }

  .option-menu {
    width: 26%;
  }

  .options,
  .terminal-cont {
    padding-left: 1rem;
  }
}