body {
  margin: 0;
  font-family:  "Fira Code", monospace;
  color: #FEFEFE;
  background-color: #111119;
}

:root {
  --code-symbol-color: rgba(237, 237, 238, 0.4);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

:root {
  --swiper-theme-color: #007aff;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/** green color **/